<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>index</title>
    </head>
    <body>
        <h1>Welcome to Pets</h1>

        <form class="" action="/process" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name"><br>
            <input type="text" name="species" placeholder="Species"><br>
            <input type="text" name="breed" placeholder="Breed"><br>
            <input type="number" name="age" placeholder="Age"><br>
            <input type="submit" name="" value="Submit">
        </form>

        {% if messages %}
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
        {% endif %}
    </body>
</html>
